antora:
  extensions:
  - ./ext/asciidoctor-compliance-settings.js
  - ./ext/promote-favicon-to-root.js
runtime:
  cache_dir: ./.cache/antora
  log:
    failure_level: warn
site:
  title: Asciidoctor Docs
  url: https://docs.asciidoctor.org
  start_page: ROOT::index.adoc
  robots: allow
git:
  ensure_git_suffix: false
urls:
  latest_version_segment: latest
  latest_version_segment_strategy: redirect:to
content:
  sources:
  - url: https://github.com/asciidoctor/asciidoctor-community-docs
    branches: main
    start_paths: about, home
  - url: https://github.com/asciidoctor/asciidoc-docs
    branches: main
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor
    branches: v2.0.x
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor.js
    branches: v2.2.x
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor-cli.js
    branches: main
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctorj
    branches: v2.5.x, v2.4.x
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor-maven-plugin
    branches: v2.2.x
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoclet
    branches: master
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor-epub3
    branches: main
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor-pdf
    branches: v2.3.x, v2.2.x, v2.1.x, v2.0.x
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor-reveal.js
    branches: maint-4.1.x
    start_path: docs
  - url: https://github.com/asciidoctor/asciidoctor-diagram
    branches: release
    start_path: docs
asciidoc:
  attributes:
    page-component-order: '!home, !ROOT, *, asciidoclet, reveal.js-converter, pdf-converter, epub3-converter, diagram-extension, about'
    page-pagination: ''
    experimental: ''
    idprefix: '@'
    idseparator: '-@'
    table-caption: false
    table-frame: 'none@'
    table-grid: 'rows@'
    example-caption: false
    listing-caption: false
    hide-uri-scheme: '@'
    url-org: https://github.com/asciidoctor
    url-project: https://asciidoctor.org
ui:
  bundle:
    url: https://github.com/asciidoctor/docs.asciidoctor.org-ui/releases/download/prod-293/ui-bundle.zip
output:
  dir: ./public
