[build]
publish = "public"
ignore = "false"

[build.environment]
CI = "true"
NODE_VERSION = "10"
# WARNING netlify-build ignores NPM_FLAGS when installing plugins, so use low-level NPM_CONFIG_ flag instead
#NPM_FLAGS = "--no-optional"
NPM_CONFIG_OPTIONAL = "false"
ANTORA_CACHE_DIR = "node_modules/.cache/antora"

[context.production]
command = """\
node_modules/.bin/antora --fetch --generator=@antora/xref-validator ../antora-playbook.yml && \
node_modules/.bin/antora --html-url-extension-style=indexify --redirect-facility=netlify --to-dir=public ../antora-playbook.yml\
"""

[context.production.environment]
ALGOLIA_APP_ID = "V1SEVEBOXX"
ALGOLIA_API_KEY = "02ab3d2d0cab4dec119447e14abdd3bc"
ALGOLIA_IDX_NAME = "asciidoctor-docs"
#GOOGLE_ANALYTICS_KEY = "..."

[context.deploy-preview]
command = """\
node_modules/.bin/antora --fetch --generator=@antora/xref-validator ../antora-playbook.yml && \
node_modules/.bin/antora --fetch --html-url-extension-style=indexify --redirect-facility=netlify --to-dir=public --url $DEPLOY_PRIME_URL ../antora-playbook.yml\
"""

[[plugins]]
package = "netlify-plugin-checklinks"

[plugins.inputs]
entryPoints = ["**/*.html"]
recursive = true
pretty = true
skipPatterns = ["load public/index.html", " href=\"file://"]
todoPatterns = []
checkExternal = false
followSourceMaps = false

[[headers]]
for = "/_/font/*"
  [headers.values]
  Cache-Control = "public,max-age=604800"

# NOTE the following redirects get appended to the redirects defined in the _redirects file

[[redirects]]
from = "https://asciidoctor-docs.netlify.com/*"
to = "https://docs.asciidoctor.org/:splat"
status = 301
force = true
