[build]
publish = "public"
ignore = "false"

[build.environment]
CI = "true"
NODE_VERSION = "10"
# WARNING netlify-build ignores NPM_FLAGS when installing plugins, so use low-level NPM_CONFIG_ flag instead
#NPM_FLAGS = "--no-optional"
NPM_CONFIG_OPTIONAL = "false"
ANTORA_CACHE_DIR = "node_modules/.cache/antora"

[context.production]
command = """\
node_modules/.bin/antora --fetch --generator=@antora/xref-validator ../antora-playbook.yml && \
node_modules/.bin/antora --html-url-extension-style=indexify --redirect-facility=netlify --to-dir=public ../antora-playbook.yml\
"""

[context.production.environment]
ALGOLIA_APP_ID = "6BQV3WKLS1"
ALGOLIA_API_KEY = "705aecf4554e01d65e6170e73d6cbbe7"
ALGOLIA_IDX_NAME = "asciidoctor-docs"
#GOOGLE_ANALYTICS_KEY = "..."

[context.deploy-preview]
command = """\
node_modules/.bin/antora --fetch --generator=@antora/xref-validator ../antora-playbook.yml && \
node_modules/.bin/antora --html-url-extension-style=indexify --redirect-facility=netlify --to-dir=public --url $DEPLOY_PRIME_URL ../antora-playbook.yml\
"""

#[[plugins]]
#package = "netlify-plugin-checklinks"
#
#[plugins.inputs]
#entryPoints = ["**/*.html"]
#recursive = true
#pretty = true
## the leading space in the skipPattern is significant
#skipPatterns = [" public/index.html"]
#todoPatterns = []
#checkExternal = false
#followSourceMaps = false

[[headers]]
for = "/_/font/*"
  [headers.values]
  Cache-Control = "public,max-age=604800"
